{% extends 'base.html' %} {% load static %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/checkout.css' %}"
/>

<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12 col-md-12">
    <div class="centre">
    <h1>Payment</h1>
      <br />
      <p>Selected membership: <strong>{{ selected_membership }}</strong></p>
      <p>
        Price: <strong>£{{ selected_membership.price }}</strong
        ><small>/month</small>
      </p>
    </div>
      <!-- <button
        onclick="toggleDisplay();"
        class="btn btn-warning"
        style="width: 100%;"
      >
        Checkout with a credit card
      </button> -->
    </div>
    <div id="collapseStripe" class="wrapper">
      <!-- can't do this -->
      <!-- <script src="{% static 'js/stripeV3.js' %}"></script> -->
      <form action="." method="post" id="payment-form">
        {% csrf_token %}
        <div class="row mt-5">
          <div class="form-group col-12">
            <label for="email">
              Email
            </label>
            <input
            id="email"
            name="email"
            value="{{ user.email }}"
            class="form-control"
            />
            <label for="name">
              Name
            </label>
            <input
              id="cardholder-name"
              name="name"
              value="{{ user.first_name }} {{ user.last_name }}"
              class="form-control"
              required
            />
          </div>
          <div class="form-group col-12">
            <h4>Billing Address:</h4>
            <label for="name">
              Address line 1
            </label>
            <input
              id="line1"
              name="line1"
              class="form-control"
              required
              value=""
            />
            <label for="name">
              Address line 2
            </label>
            <input
              id="line2"
              name="line2"
              class="form-control"
              required
              value=""
            />
            <label for="name">
              Post Code
            </label>
            <input
              id="postal_code"
              name="name"
              value=""
              class="form-control"
              required
            />
            <label for="name">
              City
            </label>
            <input id="city" name="country" class="form-control" required value="{{ address.address_line_1 }}" />
          
            <label for="name">
              Country
            </label>
            <input id="country" name="country" class="form-control" value="{{ address.country }}" required />
          </div>
          <div class="form-row-stripe">
            <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>
          <input name="amend" style="display:none;" value="{{ amend }}"/>
        </div>
        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert" class="alert alert-danger"></div>

        <button
          id="card-button"
          type="submit"
        >
          Submit Payment
        </button>
        <!-- <div id="stripe-result-handler" class="is-hidden">
          Success! Got token: <span class="result"></span>
        </div> -->
      </form>
    </div>
      <div class="mb-4"></div>
  </div>

  <script src="https://js.stripe.com/v3/"></script>
  <!-- script for the stripe form -->
  <script type="text/javascript">
  // Create a Stripe client.
    var stripe = Stripe("{{ publishKey }}");
    
    // Create an instance of Elements.
    var elements = stripe.elements();
    var cardButton = document.getElementById("card-button");
    var cardholderName = document.getElementById("cardholder-name");
    var cardElement = elements.create("card");
    cardElement.mount("#card-element");
    var line1 = document.getElementById("line1");
    var line2 = document.getElementById("line2");
    var city = document.getElementById("city");
    var country = document.getElementById("country");
    var postalCode = document.getElementById("postal_code");
    var email = document.getElementById("email");
    var ownerInfo = {
      owner: {
        name: cardholderName.value,
        address: {
          line1: line1.value,
          line2: line2.value,
          city: city.value,
          postal_code: postalCode.value,
          country: country.value
        },
        email: email.value
      }
    };
    // Add an instance of the card Element into the `card-element` <div>.
    // Handle real-time validation errors from the card Element.
    cardElement.addEventListener("change", function (event) {
      var displayError = document.getElementById("card-errors");
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = "";
      }
    });
    // Handle form submission.
    var form = document.getElementById("payment-form");
    form.addEventListener("submit", function (event) {
      event.preventDefault();
      stripe.createSource(cardElement, ownerInfo).then(function (result) {
        if (result.error) {
          // Inform the user if there was an error.
          var errorElement = document.getElementById("card-errors");
          errorElement.textContent = result.error.message;
        } else {
          // Send the token to your server.
          setTimeout(stripeSourceHandler(result.source), 3000);
          //stripeSourceHandler(result.source);
        }
      });
    });
    // Submit the form with the source ID.
    function stripeSourceHandler(source) {
      var form = document.getElementById("payment-form");
      var hiddenInput = document.createElement("input");
      hiddenInput.setAttribute("type", "hidden");
      hiddenInput.setAttribute("name", "stripeSource");
      hiddenInput.setAttribute("value", source.id);
      form.appendChild(hiddenInput);
      // Insert the source ID into the form so it gets submitted to the server
      // Submit the form
      form.submit();
    }
  </script>

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

  <!-- script for toggling display of the form -->

  {% endblock content %}
</div>