{% extends 'courses/base.html' %}


{% block content %}
<div class="container">
	<h1>Select a membership</h1>
	<div class="row">
		{% for object in object_list %}
		<div class="col-sm-4 col-md-4">
			<h2>{{ object.membership_type }}</h2>
			<p>Price: ${{ object.price }}<small>/month</small></p>
			<h4>Included Courses</h4>
			<ul>
				{% for course in object.course_set.all %}
					<li>{{ course.title }}</li>
				{% endfor %}
			</ul>
			{% if object.membership_type != 'Free' %}
			<form method="POST" action="{% url 'memberships:select' %}">
				{% csrf_token %}
				{% if object.membership_type != current_membership %}
					<button class="btn btn-warning">Select</button>
				{% else %}
					<small>This is your current membership</small>
				{% endif %}
				<input type="hidden" name="membership_type" value="{{ object.membership_type }}">
			</form>			
			{% endif %}	
		</div>
		{% endfor %}
	</div>
</div>



{% endblock content %}