certifi==2018.11.29
chardet==3.0.4
defusedxml==0.5.0
Django==2.2
django-allauth==0.38.0
idna==2.7
oauthlib==3.0.1
Pillow==5.3.0
python3-openid==3.1.0
pytz==2018.7
requests==2.20.1
requests-oauthlib==1.2.0
sqlparse==0.3.0
stripe==2.15.0
urllib3==1.24.2
